{% extends 'master.html' %}{% load static %}
{% block titleblock %}
<title>{{ title }} | {{ topic.name }}</title>
{% endblock %}
{% block headblock %}{{ topic.name }}{% if request.user.is_authenticated %}
{% if request.user.is_superuser %}
| <a href="{% url 'edit_topic' topic_id=topic.id %}" class="btn btn-outline-success">Edit</a>
{% endif %}
{% endif %}
{% endblock %}
{% block mainblock %}
<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100%;">
        <!-- Main Content Area -->
        <div class="col-md-9" style="height: 100%; overflow-y: auto;">
            <p style="text-align: justify;" >
                {{ topic.description|safe }}
            </p>
        </div>

        <div class="col-md-3" style="background-color: rgb(84, 156, 108); height: 100%; overflow-y: auto;">
            <p class="p-1 m-1 text-light fw-bold"> Related Content</p>
            <hr/>
            <ul class="list-unstyled">
                {% for topic in related_topic %}
                    <li>
                        <a  href="{% url 'topic_details' %}?topic={{topic.name|urlencode}}" class="ms-3 text-light">
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> {{ topic.name }}
                        </a>
                        <hr/>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}
