.login {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 2%;
    padding: 20px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.signup {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 7%;
    padding: 25px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width:750px) {
    .login {
        display: block;
        margin: auto;
        margin-top: 10%;
        width: 60%;

    }

    .signup {
        display: block;
        margin: auto;
        margin-top: 10%;
        width: 60%;
    }

}